In [ ]:
!pip install ortools

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ortools
  Downloading ortools-9.4.1874-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
     |████████████████████████████████| 16.0 MB 10.0 MB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from ortools) (1.21.6)
Requirement already satisfied: protobuf>=3.19.4 in /usr/local/lib/python3.7/dist-packages (from ortools) (3.19.6)
Requirement already satisfied: absl-py>=0.13 in /usr/local/lib/python3.7/dist-packages (from ortools) (1.3.0)
Installing collected packages: ortools
Successfully installed ortools-9.4.1874

In [ ]:
from ortools.linear_solver import pywraplp
import pandas as pd

In [ ]:
sup_stock = pd.read_excel("/content/Data (2).xlsx", sheet_name = "Supplier stock", index_col=0)
raw_material_cost = pd.read_excel("/content/Data (2).xlsx", sheet_name = "Raw material costs", index_col=0)
raw_material_shipping = pd.read_excel("/content/Data (2).xlsx", sheet_name = "Raw material shipping", index_col=0)
production_req = pd.read_excel("/content/Data (2).xlsx", sheet_name = "Product requirements", index_col=0)
production_capacity = pd.read_excel("/content/Data (2).xlsx", sheet_name = "Production capacity", index_col=0)
customer_demand = pd.read_excel("/content/Data (2).xlsx", sheet_name = "Customer demand", index_col=0)
production_cost = pd.read_excel("/content/Data (2).xlsx", sheet_name = "Production cost", index_col=0)
shipping_costs = pd.read_excel("/content/Data (2).xlsx", sheet_name = "Shipping costs", index_col=0)

In [ ]:
sup_stock

            Material A  Material B  Material C  Material D
Supplier A        20.0        20.0         NaN         NaN
Supplier B        25.0        50.0         NaN         NaN
Supplier C         NaN        10.0        70.0        40.0
Supplier D         NaN         NaN        20.0        50.0
Supplier E        30.0         NaN         NaN        40.0

In [ ]:
raw_material_cost

            Material A  Material B  Material C  Material D
Supplier A        20.0        80.0         NaN         NaN
Supplier B        25.0        75.0         NaN         NaN
Supplier C         NaN        60.0       210.0        70.0
Supplier D         NaN         NaN       190.0        50.0
Supplier E        15.0         NaN         NaN        60.0

In [ ]:
raw_material_shipping

            Factory A  Factory B  Factory C
Supplier A         20         40        200
Supplier B         60         20        190
Supplier C        300         40         80
Supplier D         20         40        150
Supplier E        200         50         70

In [ ]:
production_req

           Material A  Material B  Material C  Material D
Product A         5.0         3.0         NaN         NaN
Product B         NaN         NaN         2.0         5.0
Product C         NaN         7.0         9.0         NaN
Product D         3.0         2.0         4.0        15.0

In [ ]:
production_capacity

           Factory A  Factory B  Factory C
Product A        6.0        2.0        7.0
Product B        4.0        8.0        NaN
Product C        NaN        6.0        NaN
Product D        3.0        NaN       10.0

In [ ]:
customer_demand

           Customer A  Customer B  Customer C  Customer D
Product A         7.0         3.0         NaN         NaN
Product B         NaN         NaN         2.0         NaN
Product C         NaN         NaN         NaN         4.0
Product D         1.0         NaN         3.0         4.0

In [ ]:
production_cost

           Factory A  Factory B  Factory C
Product A      140.0      130.0      150.0
Product B       80.0       90.0        NaN
Product C        NaN       20.0        NaN
Product D       30.0        NaN       25.0

In [ ]:
shipping_costs

           Customer A  Customer B  Customer C  Customer D
Factory A          50          70          30          10
Factory B          90          20          40          15
Factory C          10          80         100         150

In [ ]:
customer_demand = customer_demand.fillna(0)
production_req = production_req.fillna(0)
sup_stock = sup_stock.fillna(0)
production_capacity = production_capacity.fillna(0)
raw_material_cost = raw_material_cost.fillna(0)
production_cost = production_cost.fillna(0)

In [ ]:
factories = list(raw_material_shipping.columns )
print("Factories:\n",factories)

Factories:
 ['Factory A', 'Factory B', 'Factory C']

In [ ]:
materials = list(raw_material_cost.columns)
print("Materials: \n",materials)

Materials:
 ['Material A', 'Material B', 'Material C', 'Material D']

In [ ]:
suppliers = list(raw_material_cost.index)
print("Suppliers: \n",suppliers)

Suppliers:
 ['Supplier A', 'Supplier B', 'Supplier C', 'Supplier D', 'Supplier E']

In [ ]:
products = list(production_req.index)
print("Products: \n",products)

Products:
 ['Product A', 'Product B', 'Product C', 'Product D']

In [ ]:
customers = list(customer_demand.columns)
print("Customers: \n",customers)

Customers:
 ['Customer A', 'Customer B', 'Customer C', 'Customer D']

In [ ]:
solver = pywraplp.Solver('LPWrapper', 
                             pywraplp.Solver.GLOP_LINEAR_PROGRAMMING)

In [ ]:
orders = {}
for factory in factories:
    for material in materials:
        for supplier in suppliers:
            orders[(factory, material, supplier)] = solver.NumVar(0, solver.infinity(), 
                                          factory+"_"+material+"_"+supplier)

In [ ]:
production_volume = {}
for factory in factories:
    for product in products: 
        production_volume[(factory, product)] = solver.NumVar(0, solver.infinity()  , factory+"_"+product)

In [ ]:
production_volume

{('Factory A', 'Product A'): Factory A_Product A,
 ('Factory A', 'Product B'): Factory A_Product B,
 ('Factory A', 'Product C'): Factory A_Product C,
 ('Factory A', 'Product D'): Factory A_Product D,
 ('Factory B', 'Product A'): Factory B_Product A,
 ('Factory B', 'Product B'): Factory B_Product B,
 ('Factory B', 'Product C'): Factory B_Product C,
 ('Factory B', 'Product D'): Factory B_Product D,
 ('Factory C', 'Product A'): Factory C_Product A,
 ('Factory C', 'Product B'): Factory C_Product B,
 ('Factory C', 'Product C'): Factory C_Product C,
 ('Factory C', 'Product D'): Factory C_Product D}

In [ ]:
delivery = {}
for factory in factories: 
    for customer in customers:
        for product in products: 
            delivery[(factory, customer, product)] = solver.NumVar(0, solver.infinity(), factory+"_"+customer+"_"+product)

In [ ]:
for product in products: 
    for factory in factories:
        c = solver.Constraint(0, solver.infinity())
        c.SetCoefficient(production_volume[(factory, product)] , 1)
        for customer in customers:             
            c.SetCoefficient(delivery[(factory, customer, product)], -1)

In [ ]:
for customer in customers: 
    for product in products:
        
        c = solver.Constraint(int(customer_demand.loc[product][customer]),int(customer_demand.loc[product][customer]))
        for factory in factories: 
            c.SetCoefficient(delivery[(factory,customer,product)], 1)

In [ ]:
for supplier in suppliers: 
    for material in materials: 
        c = solver.Constraint(0, int(sup_stock.loc[supplier][material]))
        for factory in factories: 
            c.SetCoefficient(orders[(factory, material, supplier)],1)

In [ ]:
for factory in factories:
    for material in materials:
        c = solver.Constraint(0,solver.infinity())
        for supplier in suppliers:
            c.SetCoefficient(orders[(factory, material, supplier)],1)
            for product in products:
                c.SetCoefficient(production_volume[(factory, product)], - production_req.loc[product][material])

In [ ]:
for factory in factories: 
    for product in products: 
        c = solver.Constraint(0, int(production_capacity.loc[product][factory]))  
        c.SetCoefficient(production_volume[(factory, product)],1)

In [ ]:
cost = solver.Objective()
# Material Costs  + shipping costs 
for factory in factories: 
    for supplier in suppliers:
        for material in materials:
            cost.SetCoefficient(orders[(factory, material, supplier)] , 
                                       raw_material_cost.loc[supplier][material] + raw_material_shipping.loc[supplier][factory])

In [ ]:
for factory in factories: 
    for product in products: 
        cost.SetCoefficient(production_volume[(factory, product)], int(production_cost.loc[product][factory]))

In [ ]:
for factory in factories: 
    for customer in customers:
        for product in products: 
            cost.SetCoefficient(delivery[(factory, customer, product)], int(shipping_costs.loc[factory][customer]))

In [ ]:
cost.SetMinimization()
status = solver.Solve()

if status == solver.OPTIMAL:
    print("Optimal Solution Found")
print("Optimal Overall Cost: ", solver.Objective().Value())

# J. and K  Supplier Bill
print("\nSupplier Bill and order quantity")
print("****************************")
for factory in factories:
    print(factory,":")
    
    for supplier in suppliers:
        factory_cost = 0
        print("  ",supplier,":")
        for material in materials:
            print("\t",material,":", orders[(factory, material, supplier)].solution_value())
            
            factory_cost += orders[(factory, material, supplier)].solution_value() * raw_material_cost.loc[supplier][material]
            factory_cost += orders[(factory, material, supplier)].solution_value() * float(raw_material_shipping.loc[supplier][factory])
        print("  ",supplier," Bill: ", factory_cost)

Optimal Solution Found
Optimal Overall Cost:  49315.0

Supplier Bill and order quantity
****************************
Factory A :
   Supplier A :
	 Material A : 20.0
	 Material B : 19.999999999999996
	 Material C : 0.0
	 Material D : 0.0
   Supplier A  Bill:  2800.0
   Supplier B :
	 Material A : 19.000000000000004
	 Material B : 4.000000000000001
	 Material C : 0.0
	 Material D : 0.0
   Supplier B  Bill:  2155.0000000000005
   Supplier C :
	 Material A : 0.0
	 Material B : 0.0
	 Material C : 0.0
	 Material D : 0.0
   Supplier C  Bill:  0.0
   Supplier D :
	 Material A : 0.0
	 Material B : 0.0
	 Material C : 14.000000000000002
	 Material D : 50.0
   Supplier D  Bill:  6440.0
   Supplier E :
	 Material A : 0.0
	 Material B : 0.0
	 Material C : 0.0
	 Material D : 0.0
   Supplier E  Bill:  0.0
Factory B :
   Supplier A :
	 Material A : 0.0
	 Material B : 0.0
	 Material C : 0.0
	 Material D : 0.0
   Supplier A  Bill:  0.0
   Supplier B :
	 Material A : 6.000000000000001
	 Material B : 34.0
	 Material C : 0.0
	 Material D : 0.0
   Supplier B  Bill:  3500.0
   Supplier C :
	 Material A : 0.0
	 Material B : 0.0
	 Material C : 31.999999999999996
	 Material D : 4.999999999999996
   Supplier C  Bill:  8549.999999999998
   Supplier D :
	 Material A : 0.0
	 Material B : 0.0
	 Material C : 5.999999999999997
	 Material D : 0.0
   Supplier D  Bill:  1379.9999999999995
   Supplier E :
	 Material A : 4.000000000000001
	 Material B : 0.0
	 Material C : 0.0
	 Material D : 0.0
   Supplier E  Bill:  260.00000000000006
Factory C :
   Supplier A :
	 Material A : 0.0
	 Material B : 0.0
	 Material C : 0.0
	 Material D : 0.0
   Supplier A  Bill:  0.0
   Supplier B :
	 Material A : 0.0
	 Material B : 6.000000000000001
	 Material C : 0.0
	 Material D : 0.0
   Supplier B  Bill:  1590.0000000000002
   Supplier C :
	 Material A : 0.0
	 Material B : 9.999999999999998
	 Material C : 20.000000000000004
	 Material D : 34.99999999999999
   Supplier C  Bill:  12450.0
   Supplier D :
	 Material A : 0.0
	 Material B : 0.0
	 Material C : 0.0
	 Material D : 0.0
   Supplier D  Bill:  0.0
   Supplier E :
	 Material A : 25.000000000000007
	 Material B : 0.0
	 Material C : 0.0
	 Material D : 40.0
   Supplier E  Bill:  7325.0

In [ ]:
# L Manufacturing Cost
print("Production Volume:")
print("****************************")

for factory in factories:
    print(factory,":")
    production_cost_total = 0
    for product in products:
        if production_volume[(factory, product)].solution_value() >0:
            print("  ",product,": ",production_volume[(factory, product)].solution_value())
            production_cost_total += production_volume[(factory, product)].solution_value() * production_cost.loc[product][factory]
    print("   Manufacturing cost: ", production_cost_total)

Production Volume:
****************************
Factory A :
   Product A :  6.0
   Product B :  1.000000000000001
   Product D :  3.0
   Manufacturing cost:  1010.0000000000001
Factory B :
   Product A :  2.0
   Product B :  0.999999999999999
   Product C :  4.0
   Manufacturing cost:  429.9999999999999
Factory C :
   Product A :  2.000000000000001
   Product D :  5.0
   Manufacturing cost:  425.0000000000001

In [ ]:
# M Shipping Cost
print("\nShipping to Customer:") 
print("****************************")

for customer in customers:   
    shipping_cost = 0
    print(customer)
    for product in products:
        print("  ", product)
        for factory in factories: 
            print("\t",factory,": ",delivery[(factory, customer, product)].solution_value())
            shipping_cost += delivery[(factory, customer, product)].solution_value() * shipping_costs.loc[factory][customer]
    print("   Shipping Cost: ", shipping_cost)

Shipping to Customer:
****************************
Customer A
   Product A
	 Factory A :  4.999999999999999
	 Factory B :  0.0
	 Factory C :  2.000000000000001
   Product B
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  0.0
   Product C
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  0.0
   Product D
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  1.0
   Shipping Cost:  279.99999999999994
Customer B
   Product A
	 Factory A :  1.0
	 Factory B :  2.0
	 Factory C :  0.0
   Product B
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  0.0
   Product C
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  0.0
   Product D
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  0.0
   Shipping Cost:  110.0
Customer C
   Product A
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  0.0
   Product B
	 Factory A :  1.000000000000001
	 Factory B :  0.9999999999999989
	 Factory C :  0.0
   Product C
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  0.0
   Product D
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  3.0
   Shipping Cost:  370.0
Customer D
   Product A
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  0.0
   Product B
	 Factory A :  0.0
	 Factory B :  0.0
	 Factory C :  0.0
   Product C
	 Factory A :  0.0
	 Factory B :  4.0
	 Factory C :  0.0
   Product D
	 Factory A :  3.0
	 Factory B :  0.0
	 Factory C :  1.0
   Shipping Cost:  240.0

In [ ]:
print("\nMaterial Bifurcation and Cost per unit")
print("****************************")
#

for customer in customers:
    print(customer)
    for product in products:
        
        unit_cost_per_product = 0
        if int(customer_demand.loc[product][customer]) >0:
            print("  ", product)
            for factory in factories:
                
                if delivery[(factory, customer, product)].solution_value() >0:
                    print("\t", factory, ": ")
                    # Calculating the Shipping cost from factory to customer based on number of products
                    shipping_cost = delivery[(factory, customer, product)].solution_value() * shipping_costs.loc[factory][customer]
                    # Calculating the manufacturing cost 
                    man_cost = delivery[(factory, customer, product)].solution_value() * production_cost.loc[product][factory]
                    unit_cost_per_product += shipping_cost
                    unit_cost_per_product += man_cost
                    material_cost_to_customer = 0
                    for material in materials:
                        material_units = 0
                        material_units += delivery[(factory, customer, product)].solution_value() * production_req.loc[product][material]
                        
                        print("\t  ",material,": ", material_units)  
                        #raw material cost
                        material_cost = 0
                        #raw material cost
                        rshipping_cost = 0 
                        material_count = 0
                        for supplier in suppliers:
                            material_cost +=  orders[(factory, material, supplier)].solution_value() * raw_material_cost.loc[supplier][material]
                            rshipping_cost += orders[(factory, material, supplier)].solution_value() * raw_material_shipping.loc[supplier][factory]
                            material_count += orders[(factory, material, supplier)].solution_value()
                        material_cost_to_customer = ((material_cost + rshipping_cost)/material_count) * material_units
                        unit_cost_per_product += material_cost_to_customer
            print("\t cost per unit : ", unit_cost_per_product/int(customer_demand.loc[product][customer]))

Material Bifurcation and Cost per unit
****************************
Customer A
   Product A
	 Factory A :
	   Material A :  24.999999999999996
	   Material B :  14.999999999999996
	   Material C :  0.0
	   Material D :  0.0
	 Factory C :
	   Material A :  10.000000000000004
	   Material B :  6.000000000000003
	   Material C :  0.0
	   Material D :  0.0
	 cost per unit :  910.9752747252749
   Product D
	 Factory C :
	   Material A :  3.0
	   Material B :  2.0
	   Material C :  4.0
	   Material D :  15.0
	 cost per unit :  3913.75
Customer B
   Product A
	 Factory A :
	   Material A :  5.0
	   Material B :  3.0
	   Material C :  0.0
	   Material D :  0.0
	 Factory B :
	   Material A :  10.0
	   Material B :  6.0
	   Material C :  0.0
	   Material D :  0.0
	 cost per unit :  745.7051282051283
Customer C
   Product B
	 Factory A :
	   Material A :  0.0
	   Material B :  0.0
	   Material C :  2.000000000000002
	   Material D :  5.000000000000005
	 Factory B :
	   Material A :  0.0
	   Material B :  0.0
	   Material C :  1.9999999999999978
	   Material D :  4.999999999999995
	 cost per unit :  1026.8421052631577
   Product D
	 Factory C :
	   Material A :  9.0
	   Material B :  6.0
	   Material C :  12.0
	   Material D :  45.0
	 cost per unit :  4003.75
Customer D
   Product C
	 Factory B :
	   Material A :  0.0
	   Material B :  28.0
	   Material C :  36.0
	   Material D :  0.0
	 cost per unit :  2921.578947368421
   Product D
	 Factory A :
	   Material A :  9.0
	   Material B :  6.0
	   Material C :  12.0
	   Material D :  45.0
	 Factory C :
	   Material A :  3.0
	   Material B :  2.0
	   Material C :  4.0
	   Material D :  15.0
	 cost per unit :  2759.014423076923